<script defer src="javascripts/datos.js"></script>
<p>
      Esta página es para:  -{{title}}
</p>

<p>
      <button type="button" id="btnJuego">Consultar datos</button>
</p>
<div id="containerr" class="contenedorr">
      <div id="name"></div>
      <div id="id"></div>
      <div id="inProgress"></div>
      
</div>