<script defer src="javascripts/traerDatos.js"></script>
<p>
      Esta página es para:  -{{title}}
</p>
<p>
      <button type="button" id="btnConsultar">Consultar datos</button>
</p>
<div id="container" class="contenedor">
      <div id="id"></div>
      <div id="type"></div>
      <div id="gamer"></div>
      
</div>